/* src/components/SkillsBar.css */

.skills-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(45%, 1fr));
  gap: 5%;
  margin: 1% auto;
  padding: 5%;
}

.skill {
  margin-bottom: 20px;
}

.skill-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}

.skill-name {
  font-weight: bold;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

.skill-percentage {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

.skill-bar-bg {
  width: 100%;
  height: 18px;
  background-color: #e0e0e0;
  overflow: hidden;
  border-radius: 8px;
}

.skill-bar-fill {
  height: 100%;
  background-color: orangered;
  border-radius: 6px;
}
